*{
    padding:0;
    margin:0;
    box-sizing:border-box;

}

body{
    background-color:rgb(12, 7, 0);
    height:100vh;
    display: grid;
    place-items:center center;
    font-family:'Macondo', cursive;
}    

.cartoes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    padding:20px;
    grid-gap:40px;

}

.cartao {
    background-color:#42402a;
    border-radius:20px;   
    box-shadow:0 0 30px rgba(0, 0, 0, 0.18);
}

.container{
   position: relative;
    clip-path:polygon(0 0,100% 0, 100% 85%, 0 100%);
}

img{
    width:100%;
    display:block;
    border-radius:20px 20px 0 0;
}

.container:after {
    content:"";
    height:100%;
    width:100%;
    position: absolute;
    top:0;
    left:0;
    border-radius: 20px 20px 0 0;
    opacity:0.7;
    
}

.cartao1>.container:after{
    background-image:linear-gradient(
        135deg,rgb(247, 91, 213),rgb(0, 46, 252));
}


.cartao2>.container:after{
    background-image:linear-gradient(
        135deg,rgb(187, 164, 33),rgb(202, 214, 218));
}


.cartao3>.container:after{
    background-image:linear-gradient(
        135deg,rgb(220, 236, 236),rgb(49, 230, 161));
}


.cartao4>.container:after{
    background-image:linear-gradient(
        135deg,rgb(201, 128, 32),rgb(230, 227, 49));
}


.cartao5>.container:after{
    background-image:linear-gradient(
        135deg,rgb(204, 110, 228),rgb(214, 211, 24));
}

.cartao6>.container:after{
    background-image:linear-gradient(
        135deg,rgb(239, 181, 253),rgb(75, 77, 241));
}

.cartao7>.container:after{
    background-image:linear-gradient(
        135deg,rgb(8, 69, 160),rgb(192, 90, 23));
}

.cartao8>.container:after{
    background-image:linear-gradient(
        135deg,rgb(201, 30, 30),rgb(158, 16, 12));
}


.cartao9>.container:after{
    background-image:linear-gradient(
        135deg,rgb(198, 245, 167),rgb(174, 241, 48));
}

.detalhes{
    padding:20px 10px;
}

.detalhes>h3{
    color:rgb(204, 136, 47);
    font-weight: 280;
    font-size:20px;
    margin:10px 0 15px 0;
}

.detalhes>p{
    color:azure;
    font-size:16px;
    line-height: 30px;
    font-weight: 100;
}